@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Kaushan Script', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ddd3c3;
}

h1 {
  text-align: center;
  font-family: 'Kaushan Script';
  font-size: 4rem;
  color: #333
}

.navigation {
  text-align: center;
}

.nav-list {
  padding: 0;
}

li {
  list-style-type: none;
  display: block;
  padding: 0 3rem;

}

a {
  color: #333;
  text-decoration: none;
  font-size: 2rem;
}

.head-img {
  height: 15em;
  margin: auto;
  overflow: hidden;
  display: block;
}

.link-card {
  padding: 2rem;
  position: relative;
  padding: 0;
  margin-top: 2em;
  max-height: 16em;
}

.card-img {
  height: 8em;
  margin: auto;
  overflow: hidden;
  display: block;
}

.card-text {
  display: none;
}

.card-title {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5em;
  background-color: #ddd3c3;
  margin: 0;
  padding: .2em;
}

.links-content {
  padding: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #333;
}

.foot-link {
  font-size: 1rem;
  padding: 0;
}

.foot-title {
  font-size: 1.2rem;
  padding: 0;
}

.menu {
  padding: 0;
}

footer {
  border-top: 2px solid #333;
  margin: 2em 0;
}

.copyright {
  font-size: .7rem;
  font-family: sans-serif;
  text-align: center;
}

.nav-list {
  max-width: 100%;
}
